body {
    background-color: #90EE90;
    color: blue;
}   

.class {
    font-weight: bold;
}

p {
border-width: 10px;
border-color: black;
border-style: double;
}

.special2 {
    position: sticky;
    bottom: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border: 1px solid #999;
}